<div id="posts">
  <div is="post-row" v-for="post in posts" :post="post">
  </div>
  <h4>Submit new content</h4>
  <form onsubmit="return false">
    <div class="form-group">
      <label for="title">Title</label><br />
      <input type="text" class="form-control" name="title" v-model="post.title">
      <span class="error">{{ errors.title }}</span>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" v-model="post.name">
      <span class="error">{{ errors.name }}</span>
    </div>
    <div class="form-group">
      <label for="name">Content</label><br />
      <textarea name="content" class="form-control" v-model="post.content"></textarea>
      <span class="error">{{ errors.content }}</span>
    </div>
    <button type="submit" @click="newPost" class="btn btn-primary">Submit</button>
  </form>
</div>

<script type="text/x-template" id="post-row">
  <div>
    <div v-if="!editMode">
      <div>
        <div style="float: right">
          <button class="btn btn-primary" @click="editMode=true">Edit</button>
          <button class="btn btn-danger" @click="deletePost">Del</button>
        </div>
        <h4>{{ post.title }} <small class="text-muted">by {{ post.name }}</small></h4>
        <p>{{ post.content }}</p>
      </div>
    </div>
    <div v-else>
      <form onsubmit="return false">
        <div class="form-group">
          <label for="title">Title</label><br />
          <input type="text" class="form-control" name="title" v-model="post.title">
          <span class="error">{{ errors.title }}</span>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" v-model="post.name">
          <span class="error">{{ errors.name }}</span>
        </div>
        <div class="form-group">
          <label for="name">Content</label><br />
          <textarea name="content" class="form-control" v-model="post.content"></textarea>
          <span class="error">{{ errors.content }}</span>
        </div>
        <button type="submit" @click="updatePost" class="btn btn-primary">Update</button>
      </form>
    </div>
    <hr />
  </div>
</script>