<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <main role="main" class="container">
      <h1>VueBlog</h1>
      <%= yield %>
    </main>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
